/**
This is just to show that CSS and styled components can be used interoperably.
**/
.thead-coin-name {
  text-align: center;
  font-weight: bolder;
  color: gray;
}
.thead-trans-date {
  text-align: center;
  font-weight: bold;
  text-decoration: black;
}
.thead-buy,
.thead-sell {
  text-align: center;
  font-weight: bold;
  color: black;
}
